@font-face {
    font-family: clockicons;
    src: url('/fonts/clockicons.ttf') format('truetype');
  }

body{
    text-align: center;
}
/*----------------modo_claro------------------*/
body.claro{
    background-color: rgb(240, 239, 239);
}
body.claro .reloj{
    font-family: 'clockicons', sans-serif;
    color: rgb(137, 137, 137);
    font-weight: normal;
    
}
body.claro>.modo{
    background-color: #5c4fbecc ;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
/*--------------modo_oscuro-----------------*/
body.oscuro{
    background-color: black;
}
body.oscuro>.reloj{
    font-family: 'clockicons', sans-serif;
    color: #FF9500;
    font-weight: normal;
    
}
body.oscuro>.modo{
    background-color: #e1e1e1 ;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

/*--------------------alarma-------------*/
#habilitar{
    background-color:  #4aae71;
    color: white;
    font-size:20px ;
    border: none;
}

#habilitar:hover{
    transition: transform 0.2s ease;
    transform:scale( 1.05);
    background-color: rgb(26, 142, 8);
}