@font-face {
    font-family: clockicons;
    src: url('/fonts/clockicons.ttf') format('truetype');
  }

h1{
    font-family: 'clockicons', sans-serif;
    color: rgb(248, 150, 50);
    font-weight: normal;
}
.alar{ font-family: normal;
}
.hora{
  font-family: normal;
} 
body{ background-color: black;
align-items: center;
text-align: center;}

#horaActual{
  font-size: 100px;
}
.alarma{
  background-color: rgb(19, 19, 19);
}