.alar{ font-family: normal;
}
.hora{
  font-family: normal;
} 

#horaActual{
  font-size: 100px;
  font-weight: normal;
}

#hfin, #contador {
  font-weight: normal;
  display: none;
}
/*.alarma{
  background-color: rgb(19, 19, 19);
}*/